<link rel="stylesheet" href="css/style.css">

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Gerenciamento de Resíduos Eletrônicos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Resíduos Eletrônicos</h1>
    <header>
 
    <main>
        <section>
            <header>
                <img src="images/residuoslogo.png" alt="Logo de Resíduos Eletrônicos" class="logo" width="100" height="auto">
            </header>
            <h2>Coleta de Eletrônicos</h2>
            <p>Faça seu cadastro para solicitar a coleta!</p>
            <a href="/Cadastro" class="btn btn-primary">Cadastro</a>
        </section>

        <section class="faq-section">
            <h3>O que é lixo eletrônico?</h3>
            <p>Equipamentos como geladeiras, celulares, computadores e outros aparelhos menores, como pilhas e baterias.</p>

            <h3>Por que a coleta é importante?</h3>
            <p>O descarte adequado de lixo eletrônico é essencial para proteger o meio ambiente.</p>

            <h3>Como posso solicitar?</h3>
            <p>Fazendo o cadastro com seu endereço e agendando a coleta!</p>

            <h3>É preciso desmontar o aparelho?</h3>
            <p>Não é necessário desmontar os aparelhos antes do descarte, mas certifique-se de remover seus dados.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Plataforma de Gerenciamento de Resíduos Eletrônicos</p>
    </footer>

</body>
</html>



